<!doctype html>
<html lang="en" ng-app="arcBaseModule">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My HTML File</title>

    <link rel="stylesheet" href="/stylesheets/fonts.css">
    <link rel="stylesheet" href="/stylesheets/styleguide.css">
    <link rel="stylesheet" href="/stylesheets/topcoat-mobile-light.css">

    <link rel="stylesheet" href="/stylesheets/application.css">

    <script src="/cordova.js"></script>

    <script src="/components/steroids-js/steroids.js"></script>
    <script src="/components/angular/angular.js"></script>
    <script src="/components/underscore/underscore.js"></script>
    <script src="/components/restangular/dist/restangular.js"></script>
    <script src="/components/parstangular/parstangular.js"></script>
    <script src="/components/angular-parse/angular-parse.js"></script>
    <script src="/components/hammerjs/hammer.js"></script>
    <script src="/components/angular-hammer/angular-hammer.js"></script>


    <script src="/models/models.js"></script>
    <script src="/javascripts/application.js"></script>
    <script src="/controllers/<%= yield.controller %>.js"></script>
</head>

<body>
    <div class="container">

        <%=yield.view %>

    </div>


</body>

</html>